@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 211, 208, 203;
  --background-start-rgb: 211, 208, 203;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 211, 208, 203;
    --background-start-rgb: 211, 208, 203;
    --background-end-rgb: 211, 208, 203;
  }
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar { 
  width: 10px; 
} 

::-webkit-scrollbar-track { 
  background: #f1f1f1; 
} 

::-webkit-scrollbar-thumb { 
  background: #888; 
  border-radius: 5px; 
} 

::-webkit-scrollbar-thumb:hover { 
  background: #555; 
}
