@import "tailwindcss";

:root {
  --font-fustat: "Fustat", sans-serif;
  --font-satoshi: "Satoshi", "Satoshi Placeholder", sans-serif;
  --font-inter: "Inter", "Inter Placeholder", sans-serif;
  --font-playwrite: "Playwrite AT", "Playwrite AT Placeholder", sans-serif;

  --background: #F7F2F0;

  --primary: #262626;
  --secondary: #737373;
  --title-topic: #9C6349;
  --description-topic: #595959;

  --button-primary:#9C6349;
  --button-secondary:#FFFFFF;
}

@theme inline {
  --color-background: var(--background);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-title-topic: var(--title-topic);
  --color-description-topic: var(--description-topic);

  --color-button-primary: var(--button-primary);
  --color-button-secondary: var(--button-secondary);

  --font-sans: var(--font-fustat);
  --font-mono: var(--font-fustat);
  --font-satoshi: var(--font-satoshi);
  --font-inter: var(--font-inter);
  --font-playwrite: var(--font-playwrite);
}

body {
  background: var(--background);
  font-family: var(--font-fustat), sans-serif;
}
